body {
  margin: 0;
}

h1 {
  color: #1B212c;
  font-size: 32px;
  font-family: Arial;
}

main {
  background-color: #D7E3FA;
  height: 100vh;
  display: flex;
  justify-content: center;
}

p {
  color:#1B212c;;
  font-size: 20px;
  font-family: Arial;
}

.links {}

.card {
  width: 400px;
  height: 400px;
  padding: 32px;
  background-color: #FFFFFF;
  border: solid 1px;
  border-radius: 34px;
  text-align: center;
  margin: auto;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 37px;
}


a:hover{
  margin: 12px;
  height: 36px;
  width: 36px;
  box-shadow: -1px 1px 10px black;
  color: #1B212c;
  background-color: black;
}

.fa-brands, .fa-twitter{
  height: 36px; 
  width: 32px;
}